/* solo info del tipo de texto*/
@font-face{
    font-family: 'Netflix';
    src:url(../font/AvenirNextCondensed.ttc);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Netflix';
    src:url(../font/AvenirNext.ttc);
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Netflix';
    src:url(../font/Avenir.ttc);
    font-weight: 700;
    font-style: normal;
}
/*cuerpo en general de la pagina */
body{
    background: black;
    color: white;
    margin: 0;
    font-family: 'Netflix';
}
/*para que las etiquetas a no tengan detalles como el del subrayado*/
a{
    color: white;
    text-decoration: none;
}
/* Informacion del encabezado*/
.header{
    padding: 10px 5px 5px;
    position: relative;
    z-index: 2;
    margin-left: 30px;
    margin-top: 20px;
    background: black;
}
/*pie de pagina estilo y color de iconos*/
.footer{
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em 0;
    background: black;
    
}
.tab-list{
    margin: 0;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    color: #4b0909;
}
.tab-list a{
    color: #6e6e6e;
}
.tab-item{
    text-align: center;
    font-size: .9em;
}
.tab-item path{
    fill: #6e6e6e; 
}
.tab-item svg{
    display: block;
    margin: auto;
}
.tab-item:hover :is(path,span){
    fill: white;
    color: white;
}
/* Acciones */
.tab-list-acc{
    margin: 0;
    padding: 0;
    display:flex;
    gap: 80px;
    margin: 15px 15px;
    grid-auto-flow: column;
    list-style: none;
    color: #6e6e6e;
}
.tab-accion a{
    color: #6e6e6e;
}
.tab-accion{
    text-align: center;
    font-size: .9em;
}
.tab-accion path{
    fill: white; 
}
.tab-accion svg{
    display: block;
    margin: auto;
}
.tab-accion:hover :is(path,span){
    fill: #6e6e6e;
    color: white;
}

.titulo{
  font-weight: bold; /* Para poner en negrita */
  font-size: 60px; 
    margin-left: 15px;
    margin-top: 20px;
}
.porcentaje{
    color: rgb(112, 179, 112);
    
}
.info{
    display: flex;
    gap: 15px;
    color: #6e6e6e;
    position: relative;
    margin-left: 15px;
    margin-top: 20px;
}
.calidad{
  color: white;
  border: 1px solid white; 
  padding: 2px 2px;         
  border-radius: 1px; 
}
.categoria{
  color: white;
  background-color: #6e6e6e;
  padding: 2px 2px;         
  border-radius: 1px; 
}
.funcion{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    margin-top: 20px;
    gap: 10px;
    text-align: center;
    
}
.btn{
    display: flex;
    align-items: center;     /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    gap: 10px;         
    font-size: 16px;
    font-weight: 600;
    border: none;        
    cursor: pointer;
    padding: 12px 20px;
}
.btn-downlan{
    background-color: #1a1818;
    color: #ccc;
}
.desc{
    margin: 15px 15px;
}
.detalle{
  font-size: 13px;
  color: #b3b3b3;
  margin-top: 10px;
  line-height: 1.4;
  margin: 15px 15px;
}
/* barrita roja que va  antes de mas simmilares */
.titulo-mas {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin: 0 15px 5px 15px;
}
.barra-roja {
  height: 4px;
  width: 190px; 
  background-color: red;
  border-radius: 2px;
}
.mas{
  font-size: 40px;
  font-weight: bold;
  margin: 15px 0 5px 0;
}
/* mas titulos similares */
.list-content{
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    margin: 0 15px 5px 15px;
}
.list-item{
    display: inline-block;
    margin-left: 10px;

}
.list-item:first-child{
    margin: 0;
}
.list{
        padding: 0 1em;
}
.img{
    height: 25em;
    width: 25em;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* para que los textos se adapten a la pantalla */
@media screen and (min-width: 768px) {
  .titulo {
    font-size: 90px;
    margin-left: 40px;
  }

  .info {
    font-size: 20px;
    margin-left: 40px;
  }

  .calidad,
  .categoria {
    padding: 4px 6px;
    font-size: 18px;
    margin: 0 45px 20px 40px;
  }

  .porcentaje {
    font-size: 20px;
  }
  .list-content,
  .titulo-mas,
  .tab-list-acc,
  .desc,
  .fu,
  .detalle,
  .funcion{
    margin: 0 45px 20px 40px;
  }
}
